.evaluationBar {
    position: relative;
    width: 4vh;
    height: 100%;
    overflow: hidden;
    background-color: var(--white-primary-color);
}
.evaluationBlack {
    position: absolute;
    overflow: hidden;
    top: 0;
    width: 100%;
    background-color: var(--black-primary-color);
    transition: 1s;
}
