.evaluationBar {
    position: relative;
    width: 4vh;
    height: 100%;
    overflow: hidden;
}
.evaluationBlack {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0;
    width: 100%;
    background-color: var(--black-primary-color);
    transition: 1s;
}
.evaluationWhite {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--white-primary-color);
    transition: 1s;
}

.scaleMark {
    width: 50%;
    height: 2px;
    border-radius: 4px;
    background-color: black;
    position: absolute;
}
