.boardManager {
    padding: 0 20px;
    display: grid;
    grid-template-columns: 1fr 64vh 1fr;
    grid-template-rows: 8vh 8vh 1fr;
    background-color: var(--white-primary-color);

    column-gap: 2vh;
    padding-bottom: 2vh;
}

.engineControlWrapper {
    grid-column-end: 2;
    grid-row-end: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 2px solid var(--black-primary-color);
}

.boardControlWrapper {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-end: 2;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-bottom: 2px solid var(--black-primary-color);
}

.historyControlWrapper {
    grid-column-start: 3;
    grid-row-end: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 2px solid var(--black-primary-color);
}

.fenInputWrapper {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.fenControlWrapper {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-bottom: 2px solid var(--black-primary-color);
}

.pgnInputWrapper {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.pgnControlWrapper {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-bottom: 2px solid var(--black-primary-color);
    border-right: 2px solid var(--black-primary-color);
    border-radius: 0 0 3vh 0;
    overflow: hidden;
}

.clock {
    grid-row-start: 2;
    grid-row-end: 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: large;
    justify-content: center;
    align-items: center;
    padding-top: 2vh;
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 2px solid var(--black-primary-color);
    box-sizing: border-box;
}

.black {
    color: var(--white-primary-color);
    background-color: var(--black-primary-color);
}

.white {
    color: var(--black-primary-color);
    background-color: var(--white-primary-color);
    border-radius: 0 0 0 3vh;
}

.borderBottom {
    border-bottom: 2px solid var(--black-primary-color);
}
