.page {
    display: flex;
}

.body_wrapper {
    display: grid;
    grid-template-rows: 8vh 64vh 1fr;
    gap: 2vh;
    height: 100vh;
    box-sizing: border-box;
    width: 100%;
}

.horizontal_split {
    display: grid;
    gap: 2vh;
    grid-template-columns: 1fr 64vh 1fr;
    padding: 0 2vh;
}
