.player {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.status {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border-style: solid;
}
.borderWhite {
    border-width: 2px;
    border-color: (--black-primary-color);
}
.borderBlack {
    border-width: 2px;
    border-color: (--White-primary-color);
}

.active {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--selected-white-color);
}

.spinner {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    border-style: dashed;
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.white {
    color: var(--black-primary-color);
    background-color: var(--white-primary-color);
}

.black {
    color: var(--white-primary-color);
    background-color: var(--black-primary-color);
}

.content {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
}

.isUp {
    flex-direction: column;
}

.element {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}
