.body {
    margin-top: 50px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.body_wrapper {
    display: grid;
    gap: 20px;
    grid-template-areas:
        "left center right"
        "bottom bottom bottom";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 100px;
}
