.square {
    display: flex;
    width: 64px;
    height: 64px;
    justify-content: center;
    align-items: center;
}

.white {
    background-color: antiquewhite;
}

.black {
    background-color: darkslategray;
}

.clickable {
    cursor: pointer;
}

.selected {
    background-color: red;
}

.legal {
    position: absolute;
    height: 12px;
    width: 12px;
    border-radius: 90%;
    background-color: gray;
}

.start {
    background-color: rgb(196, 222, 126);
}

.target {
    background-color: rgb(162, 189, 88);
}
