.engine {
    display: flex;
    gap: 2%;
    height: 64vh;
    width: 100%;
}

.contentWrapper {
    overflow: hidden;
    border-top: 2px solid var(--black-primary-color);
    border-left: 2px solid var(--black-primary-color);
    border-bottom: 2px solid var(--black-primary-color);
    border-radius: 3vh 0 0 0;
    width: 100%;
    display: grid;
    grid-template-rows: 12.5% 25% 25% 25% 12.5%;
}
