* {
    margin: 0;
    padding: 0;
}

body {
    position: fixed;
    background-color: var(--white-secondary-color);
}

:root {
    --white-primary-color: hsl(42, 58%, 89%);
    --white-secondary-color: hsl(42, 30%, 80%);
    --black-primary-color: hsl(211, 17%, 28%);
    --black-secondary-color: hsl(213, 18%, 22%);
    --green-color: hsl(94, 26%, 52%);
    --red-color: hsl(354, 80%, 68%);
    font-family: "Courier New", Courier, monospace;
}
